button{
    background-color: rgb(220, 101, 26);
    color: white;
    border: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover{
    background-color: gray;
}